<h2 style="margin-top: 0px; margin-bottom: 20px">
	{{ action == 'create' ? 'New' : 'Update' }} {{ collection | singular }}
</h2>

<form class="form-horizontal">
	<div ng-repeat="field in collInfo.fieldOrder">
		<crud-form-input id="input-{{field}}" label="{{collInfo.fields[field].label}}"
			placeholder="{{collInfo.fields[field].placeholder}}" model="item[field]"
			type="{{collInfo.fields[field].inputAttrs.type}}"
			autofocus="{{ $first ? 'true' : 'false' }}">
		</crud-form-input>
	</div>
	<crud-form-buttons></crud-form-buttons>
</form>
