<h2 style="margin-top: 0px; margin-bottom: 20px">
	{{ action == 'create' ? 'New' : 'Update' }} {{ _crud.collectionName | singular }}
</h2>

<form class="form-horizontal">
	<div ng-repeat="field in _crud.collectionMeta.fieldOrder">
		<crud-form-input id="input-{{field}}" label="{{_crud.collectionMeta.fields[field].label}}"
			placeholder="{{_crud.collectionMeta.fields[field].placeholder}}" model="item[field]"
			type="{{_crud.collectionMeta.fields[field].inputAttrs.type}}"
			autofocus="{{ $first ? 'true' : 'false' }}">
		</crud-form-input>
	</div>
	<crud-form-buttons></crud-form-buttons>
</form>
