<h2 style="margin-top: 0px; margin-bottom: 20px">
	{{ action == 'create' ? 'New' : 'Update' }} {{ collection | singular }}
</h2>

<form class="form-horizontal">
	<crud-input id="input-name" label="Name" placeholder="Name"
		model="item.name" type="text" autofocus></crud-input>
	<crud-input id="input-surname" label="Surname" placeholder="Surname"
		model="item.surname" type="text"></crud-input>
	<crud-input id="input-email" label="e-mail" placeholder="e-mail"
		model="item.email" type="email"></crud-input>
	<crud-form-buttons></crud-form-buttons>
</form>
